#Archivo de configuración de variables de entorno para el proyecto. Este archivo sirve como plantilla y no debe contener información sensible. Copia este archivo a un nuevo archivo llamado `.env` y completa los valores según tus necesidades.



MOTHERDUCK_TOKEN = Tu_token_de_motherduck_aqui

# ===============================
# Proyecto
# ===============================
ENV=local